# SearXNG Settings for Research Portal
# Documentation: https://docs.searxng.org/admin/settings/

use_default_settings: true

server:
  secret_key: "changeme-in-production"
  limiter: false
  image_proxy: true
  method: "GET"

ui:
  static_use_hash: true
  default_locale: "en"
  query_in_title: true
  infinite_scroll: true
  center_alignment: false
  results_on_new_tab: false
  theme_args:
    simple_style: auto

search:
  safe_search: 0
  autocomplete: "google"
  default_lang: "en"
  formats:
    - html
    - json

# Enable/disable search engines
# The Research Portal will use these for web searches
engines:
  # General Search
  - name: google
    engine: google
    shortcut: g
    disabled: false

  - name: bing
    engine: bing
    shortcut: b
    disabled: false

  - name: duckduckgo
    engine: duckduckgo
    shortcut: ddg
    disabled: false

  - name: brave
    engine: brave
    shortcut: br
    disabled: true

  # Knowledge
  - name: wikipedia
    engine: wikipedia
    shortcut: w
    disabled: false

  - name: wikidata
    engine: wikidata
    shortcut: wd
    disabled: true

  # Developer
  - name: github
    engine: github
    shortcut: gh
    disabled: false

  # stackoverflow engine removed - use stackexchange instead
  - name: stackexchange
    engine: stackexchange
    shortcut: se
    categories: [it, q&a]
    disabled: false

  - name: npm
    engine: npm
    shortcut: npm
    disabled: true

  - name: pypi
    engine: pypi
    shortcut: pypi
    disabled: true

  # Science & Academic
  - name: arxiv
    engine: arxiv
    shortcut: ar
    disabled: true

  - name: google scholar
    engine: google_scholar
    shortcut: gs
    disabled: true

  - name: semantic scholar
    engine: semantic_scholar
    shortcut: ss
    disabled: true

  # Social & Forums
  - name: reddit
    engine: reddit
    shortcut: r
    disabled: true

  - name: hackernews
    engine: hackernews
    shortcut: hckr
    disabled: true

  # Media
  - name: youtube
    engine: youtube_noapi
    shortcut: yt
    disabled: true

  - name: vimeo
    engine: vimeo
    shortcut: vm
    disabled: true

  # News
  - name: google news
    engine: google_news
    shortcut: gn
    disabled: true

  - name: bing news
    engine: bing_news
    shortcut: bn
    disabled: true

outgoing:
  request_timeout: 6.0
  max_request_timeout: 15.0
  pool_connections: 100
  pool_maxsize: 20
  # Tor proxy settings (uncomment to enable)
  proxies:
    all://:
      - socks5h://tor:9050
  using_tor_proxy: true
